<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PETSHOP DH</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <%- include("../partials/header") %>
    <main>
        <section class="contato">
            <div class="container">
                <h1>Categoria Rações</h1>
                <h2>Produtos</h2>
                <div class="align-row" style="width: 100%;">
                  <table>
                    <tr>
                      <th>ID</th>
                      <th>Nome</th>
                      <th>Descrição</th>
                      <th>Valor</th>
                      <th>Ações</th>
                    </tr>
                    
                    <tr>
                      <td>1</td>
                      <td>Ração 1</td>
                      <td>Uma ração</td>
                      <td>45</td>
                      <td>
                        <a href="/admin/produtos/1/editar">Editar</a>
                      </td>
                    </tr>
                  </table>
                </div>
            </div>
        </section>
    </main>
    <%- include("../partials/footer") %>
</body>

</html>