<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PETSHOP DH</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <%- include("./partials/header") %>
    <main>
      <section class="contato">
          <div class="container">
              <h1>Login</h1>

              <div class="align-row">
                  <form method="POST" >
                      <label for="email">Email</label>
                      <input type="email" id="email" name="email" >

                      <label for="senha">Senha</label>
                      <input type="password" id="senha" name="senha" >
                      <hr/>
                      <button type="submit" class="btn btn-primary">login</button>
                  </form>
              </div>
          </div>
      </section>
    </main>
    <%- include("./partials/footer") %>
</body>

</html>